html, body, #app {
	margin: 0;
	height: 100%;
	width: 100%;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.btn-clear {
	background: transparent;
	border: none;
}

.nav-link {
	color: inherit;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.nav-link.active {
	color: rgb(187, 41, 37);
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.space-around {
	justify-content: space-around;
}

.header-lg {
	font-size: 35px;
	font-weight: 300;
	margin: 20px;
}

.header-sm {
	font-size: 28px;
	font-weight: 300;
	margin: 10px;
}

.avatar {
	display: block;
	border-radius: 3px;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}

.center-text {
	text-align: center;
}

.link {
	color: rgb(187, 46, 31);
	font-weight: 600;
	text-decoration: none;
}

.card-list {
	font-size: 20px;
	margin: 20px 0;
}

.card-list li {
	display: flex;
	align-items: center;
	margin: 10px;
}

.card-list svg {
	margin-right: 10px;
}

.card-list a {
	color: inherit;
	font-weight: 500;
}

.bg-light {
	background-color: rgba(0,0,0,0.08);
	border-radius: 3px;
}

.repo {
	margin: 10px 0;
	padding: 20px;
	width: 250px;
}

.repo img {
	margin-bottom: 8px;
}

.instructions-container {
	margin: 100px 0;
}

.container-small {
	margin: 0 auto;
	width: 80%;
}

.battle-instructions {
	font-size: 25px;
	padding: 0;
}

.battle-instructions li {
	flex: 1;
	min-width: 300px;
}

.battle-instructions svg {
	border-radius: 3px;
	padding: 40px;
}
