html, body, #app {
	margin: 0;
	height: 100%;
	width: 100%;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.dark {
	color: #DADADA;
	background-color: #1c2022;
	min-height: 100%;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.btn-clear {
	background: transparent;
	border: none;
}

.nav li {
	margin-right: 10px;
}

.nav-link {
	color: inherit;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.nav-link.active {
	color: rgb(187, 41, 37);
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}

.header-lg {
	font-size: 35px;
	font-weight: 300;
	margin: 20px;
}

.header-sm {
	font-size: 28px;
	font-weight: 300;
	margin: 10px;
}

.avatar {
	display: block;
	border-radius: 3px;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}

.center-text {
	text-align: center;
}

.link {
	color: rgb(187, 46, 31);
	font-weight: 600;
	text-decoration: none;
}

.card-list {
	font-size: 20px;
	margin: 20px 0;
}

.card-list li {
	display: flex;
	align-items: center;
	margin: 10px;
}

.card-list svg {
	margin-right: 10px;
}

.card-list a {
	color: inherit;
	font-weight: 500;
}

.bg-light {
	background-color: rgba(0,0,0,0.08);
	border-radius: 3px;
}

.card {
	margin: 10px 0;
	padding: 20px;
	width: 250px;
}

.card img {
	margin-bottom: 8px;
}

.instructions-container {
	margin: 100px 0;
}

.container-small {
	margin: 0 auto;
	width: 80%;
}

.battle-instructions {
	font-size: 25px;
	padding: 0;
}

.battle-instructions li {
	flex: 1;
	min-width: 300px;
}

.battle-instructions svg {
	border-radius: 3px;
	padding: 40px;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.player {
	flex: 1;
	margin: 0 20px;
	padding: 10px;
}

.player-label {
	font-size: 20px;
	font-weight: 300;
	margin: 5px 0;
}

.player-inputs input {
	border: none;
	border-radius: 3px;
	box-shadow: inset 1px 2px rgba(0,0,0, 0.15);
	flex: 2;
	font-size: 16px;
	padding: 8px;
}

.player-inputs .input-light {
	background: rgba(0,0,0,0.02);
}

.player-inputs .input-dark {
	color: #DADADA;
	background-color: rgba(0,0,0, 0.3);
}

.player-inputs button {
	flex: 1;
	margin-left: 10px;
}

.btn {
	align-items: center;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	font-size: 16px;
	justify-content: center;
	letter-spacing: 0.25em;
	max-width: 200px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-dark {
	background: #141414;
	color: #e6e6e6;
}

.btn-dark:disabled {
	background: #f2f2f2;
	color: #c7c7c7;
}

.btn-light {
	background-color: #aaa8a8;
	color: #000;
}

.btn-light:disabled {
	background: #292929;
	color: #4a4a4a;
}

.players-container {
	margin: 100px 0;
}

.avatar-small {
	border-radius: 50%;
	height: 55px;
	width: 55px;
}

.player-info {
	align-items: center;
	display: flex;
	flex: 1;
	font-size: 20px;
	padding: 10px;
}

.player-info .link {
	margin-left: 10px;
}

.btn-space {
	margin: 40px auto;
}

.error {
	color: #ff1616;
	font-size: 20px;
	margin: 50px 0;
}

.bg-dark {
	background-color: rgb(36,40, 42);
	border-radius: 4px;
}
